html {
  text-align: center;
  font-size: larger;
  background-image: url(/backgroundImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 8ch;
}
.box {
  height: 150px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 5%;
  height: 3em;
  width: 8em;
  font-size: larger;
  background-color: #62b9cb;
  color: white;
  cursor: pointer;
  border-radius: 5%;
}

button:hover {
  background-color: #caebff;
  color: #1b4b65;
}
button:active {
  transform: scale(0.97);
}
.resultat {
  background-color: #5facd3;
  border: 2px solid black;
  height: 150px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
